html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Name:
            p #{name}
            h1 Email:
            p #{email}
            h1 Feedback:
            p #{content}
